@font-face {
  font-family: 'Pretendard';
  src: url('../../assets/font/PretendardStd-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../../assets/font/PretendardStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
